build/
dist/
.env
*.log
temp/
src/vendor-scripts/

src/assets/
src/css
.dockerignore
.gitignore
.git/
Dockerfile
eslint-config.js
package-lock.json
package.json
.prettierignore
.prettierrc
index.html
README.md